{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Ваша корзина:</h1>

    <table class="table table-card">
        <thead>
        <tr>
            <th scope="col">Постер</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Обновить</th>
            <th scope="col">Цена за единицу</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr id="tr-id-{{ product.id }}">
                <td><a href="{{ product.get_absolute_url }}">
                    <img src="/{{ product.get_main_image_url }}" style="max-height: 70px">
                </a></td>
                <td>{{ product.name }}</td>
                <form action="{% url "cart:cart_add" product.id %}" method="post"
                      class="form-buy"
                      data-id="{{ product.id }}"
                      data-name="{{ product.name }}"
                      data-author="{{ product.author }}"
                      data-image="{{ product.get_main_image_url }}"
                      data-price="{{ product.price }}">
                <td style="max-width: 50px">
                        <input type="number" value="{{ item.quantity }}" class="form-control-sm"
                               min="0" max="20" step="1" name="quantity">
                        {{ item.update_quantity_form.update }}
                        {% csrf_token %}
                </td>
                <td>
                    <input type="submit" value="Обновить" class="btn-sm btn-dark">
                    <a href="{% url "cart:cart_remove" product.id %}" class="close btn-sm btn-danger">X</a>
                </td>
                </form>
                <td class="num"> {{ item.price }} грн.</td>
                <td class="num" id="td-price-{{ product.id }}">{{ item.total_price }} грн.</td>
            </tr>

            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num" id="total-price">{{ cart.get_total_price }} грн.</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "product_list_url" %}" class="btn-dark btn">Вернуться к покупкам</a>
        <a href="{% url "cart:order_create" %}" class="btn btn-primary">Подтвердить</a>
    </p>

{% endblock %}


