{% for product in products %}
    <div class="media position-relative border border-dark mt-3">
        <img src="/{{ product.get_main_image_url }}" class="align-self-center mr-3 img-fluid img-margin" style="max-width: 250px;">
        <div class="media-body">
            <h5 class="mt-5">{{ product.name }}</h5>
            <p>{{ product.review }}</p>
            <p><b>Цена: </b>{{ product.price }}грн.</p>
            <p><b>Жанры: </b>{% for genre in product.genre.all %}
                <a href="{{ genre.get_absolute_url }}">{{ genre.genre_name }}</a>,
            {% endfor %}</p>
            <div style="margin-bottom: 10px">
                <a href="{{ product.get_absolute_url }}" class="btn btn-light">Детальнее</a>
                <form action="{% url "orders:cart_add" product.id %}" method="POST"
                      class="form-buy"
                      data-id="{{ product.id }}"
                      data-name="{{ product.name }}"
                      data-author="{{ product.author }}"
                      data-image="{{ product.get_main_image_url }}"
                      data-price="{{ product.price }}">
                    {% csrf_token %}
                    <input type="number" value="1" class="form-control"
                            min="0" max="20" step="1" name="quantity">
                    <input type="submit" value="В корзину"
                       class="btn btn-dark btn-buy" id="buy-{{ product.id }}">
                </form>
            </div>
        </div>
    </div>
    {% empty %} No products
{% endfor %}