.container{
    padding-top: 100px;
}
.img-margin{
    margin: auto;
    margin-top: 10px;
}
.icon img{
   height: 1.5em;
}

.navbar-second{
    background-color: #b3b3b3;
    line-height: 0.1em;
    text-transform: uppercase;
}
.navbar-second a {
    color: inherit;
    font-weight: bold;
}
.navbar-second a:hover{
    color: black;
}

.card-edit{
    padding: 1em;
}

.card-body a{
    margin: 5px;
}

.basket{
    padding-right: 50px;
    position:relative;

}
.basket a{
    text-decoration: none;
    color: black;
}
.cart-item{
    position: absolute;
    z-index: 2;
    /*background-color: aliceblue;*/
    display: none;
    /*margin-top: 16px;*/
    width: max-content;
    max-width: 470px;
}

.basket:hover .cart-item{
    display:block;
    position:absolute;
}


.list-group-item:first-child{
    border-radius: 0;
}

.table-card th, .table-card td{
    vertical-align: middle;
}

.table-card{
    text-align: center;
}

.form-buy{
    display: flex;
    align-items: center;
}

.card-text{
    width: 18em;
    text-align: center;
}

.input-group{
    max-width: 135px;
    margin-right: 1em;
    margin-left: 1em;
}