{% load static  %}
<nav class="fixed-top">
        <nav class="navbar navbar-expand-lg bg-light ">
            <a class="navbar-brand text-dark" href="/">
                <div class="icon">
                    <img src='{% static 'media/project_media/book.png' %}'>
                    <b>BOOKS/COMICS</b>
                </div>
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>

            <div class="basket text-dark">
                <a href="{% url 'cart:cart_detail' %}">
                    <div class="icon">
                        <img src='{% static 'media/project_media/basket.png' %}'>
                        <b>Корзина </b><span class="badge badge-secondary badge-pill" id="cart-length">{{ cart|length }}</span>
                    </div>
                </a>
                <div class="cart-item">
                    <ul class="list-group" id="item_list">
                        {% for item in cart %}
                            {% with product=item.product %}
                                <li class="list-group-item list-group-item-action list-group-item-secondary"
                                    id="cart-id-{{ product.id }}">
                                <div class="media position-relative">
                                    <img src="/{{ product.get_main_image_url }}" class="align-self-center img-fluid" style="max-height: 75px;">
                                    <div class="media-body m-1"><p>{{ product.name }} ({{ product.author }})</p>
                                    Количество: <span class="quantity">{{ item.quantity }}</span>, Цена: {{ product.price }} грн.
                                        <a href="{% url "cart:cart_remove" product.id %}" class="close" style="color: red">&times;</a>
                                    </div>
                                </div>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-second justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Комиксы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Манга</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Детективы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sci-Fi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Something else</a>
            </li>
        </ul>
    </nav>
</nav>
